Checks: 'clang-diagnostic-*,performance-*,unused-*,modernize-*,-modernize-raw-string-literal,-modernize-use-using,-modernize-use-default-member-init,misc-*,readability-*,-readability-braces-around-statements,-readability-implicit-bool-cast'
WarningsAsErrors: '*'

